@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Cabin", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    display: flex;
    background: var(--color4);
    overflow: hidden;
    transition: all 300ms ease;
}

/* btn musica */
.btn_musica{
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 7px;
  backdrop-filter: blur(10px);
  transition: all 100ms linear;
  z-index: 5;
  cursor: pointer;
}

.btn_musica:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #ffffff36;
  transition: all 100ms linear;
}

.btn_musica:active{
  transform: scale(0.95);
}

/* imagenes */
.btn_musica_start{
  background: #ffffff1a url(../IMG/start.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_musica_pause{
  background: #ffffff1a url(../IMG/pausa.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

#musica{
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transform: scale(0);
}
/* fin btn musica */

/* colores */
:root {
    --color1: #247ed3;
    /* 500 */
    --color2: #1662b3;
    /* 600 */
    --color3: #14539a;
    /* 700 */
    --color4: #144378;
    /* 800 */
    --color5: #163964;
    /* 900 */
}


/* contenedor carga */
.contenedor_carga{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background: var(--color5);
  animation: 2s ani_cierre ease;
  animation-delay: 2s;
}

@keyframes ani_cierre {
  from{
    transform: scale(1);
  }to{
    transform: scale(5);
    opacity: 0;
    filter: blur(10px);
  }
}

.loader {
  width: 6em;
  height: 6em;
  transform: scale(1.3);
}

.loader-ring {
  animation: ringA 2s linear infinite;
}

.loader-ring-a {
  stroke: var(--color2);
}

.loader-ring-b {
  animation-name: ringB;
  stroke: var(--color3);
}

.loader-ring-c {
  animation-name: ringC;
  stroke: var(--color2);
}

.loader-ring-d {
  animation-name: ringD;
  stroke: var(--color3);
}

 /* Animations */
 @keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

.animation_paused{
  animation-play-state: paused;
}

.traslado_ani_inicio{
  transform: translateY(-100%);
  transition: all 3s ease;
}
/* fin contenedor carga */

main {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all 5.3s ease;

    > span:nth-child(1){
      width: 40px;
      aspect-ratio: 1/1;
      position: absolute;
      border-radius: 5px;
      top: 20px;
      left: 15px;
      z-index: 10;
      transition: all 150ms linear;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    > span:nth-child(1):hover{
      transform: scale(1.1);
      transition: all 150ms linear;
      background: var(--color3);
      padding: 3px;
    }

    > span:nth-child(1):active{
      transform: scale(0.9);
    }

    > .indicador_movimiento{
      width: 40px;
      aspect-ratio: 1/1;
      position: absolute;
      border-radius: 5px;
      top: 20px;
      right: 20px;
      z-index: 10;
      transition: all 150ms linear;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 25px;
      color: white;
      backdrop-filter: blur(16px) saturate(120%);
    }
}

.oculto_ani_btn_menu{
  transform: scale(0);
  opacity: 0;
  filter: blur(10px);
  transition: all 250ms ease; 
  pointer-events: none;
}

.scrollable::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores webkit */
}

/* container_all_modulus and container_slider_modulus */
.container_all_modulus {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 400ms ease;

    >.container_slider_modulus {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: top;
        flex-wrap: nowrap;
        overflow: hidden;
        transition: all 300ms ease;   

        >section {
            width: 100%;
            height: 100%;
            flex-shrink: 0;
            position: relative;
            overflow-y: scroll;
            opacity: 1;
            scrollbar-width: none;
            transition: all 500ms ease;
            backface-visibility: hidden;
        }

        >section::after{
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: inset 0px 0px 0px 10px var(--color2);
          z-index: 5;
          pointer-events: none;
          background: transparent;
        }
    }
}


/* estilos predefinidos */
.none {
    display: none;
}

.ani_ancho{
  width: 0px;
  transition: all 350ms ease;
}


/* dise単o de botones */
/* botones */
.btn1 {
    background-color: #eef2ff;
    border-radius: 8px;
    border-width: 2px;
    border-color: #536dfe;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px,
        rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #536dfe;
    cursor: pointer;
    overflow: hidden;
    padding: 15px 24px;
    position: relative;
    transition: 300ms ease;

    >a {
        text-decoration: none;
        font-size: 20px;
        color: #536dfe;
    }
}

.btn1:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px,
        rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: scale(1.020);
    transition: 300ms ease;
}

.btn1:active {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px,
        rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: scale(1);
}

.btn2 {
    background-color: rgb(176, 170, 170);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    >a {
        text-decoration: none;
        color: black;
    }
}

.btn2:hover {
    transform: scale(1.010) translateY(-2px);
}

.btn2:after {
    background-clip: padding-box;
    background-color: white;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.btn2:hover:not(:disabled) {
    filter: brightness(1.1);
}

.btn2:disabled {
    cursor: auto;
}

.btn2:active:after {
    border-width: 0 0 0px;
}

.btn2:active {
    padding-bottom: 10px;
    transform: scale(1) translateY(0px);
}

.btn3 {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    background-color: var(--color2);
    font-size: 20px;
    transition: all 50ms linear;
    box-shadow: var(--color3) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn3:hover {
    box-shadow: var(--color3) 0px 7px 0px 0px;
    transform: translateY(-2px);
}

.btn3:active {
    background-color: var(--color2);
    /*50, 168, 80*/
    box-shadow: var(--color3) 0px 0px 0px 0px;
    transform: translateY(5px);
}

.btn4 {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    border: 2px solid white;
    box-shadow: 0px 0px 2px black;
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.3s linear;
    overflow: hidden;

    >a {
        text-decoration: none;
        color: white;
        text-shadow: 0px 0px 2px black;
        font-weight: 600;
        font-size: 18px;
        transition: all 0.3s linear;
    }
}

.btn4::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

.btn4:hover::before {
    scale: 3;
    background: var(--color1);
    transition: all 0.5s ease;
}

.btn4:hover {
    >a {
        color: white;
        font-size: 19px;
    }
}

.btn4:active {
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;

    >a {
        font-size: 18px;
    }
}

.btn5 {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    background: var(--color1);
    transition: all 300ms ease;
    color: white;
    border: 4px solid transparent;
}


.btn5::after {
    display: none;
}

.btn5:hover {
    transform: scale(1);
    transition: all 300ms ease;
    cursor: pointer;
    border: 4px solid var(--color2);
}

.btn5:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 5px black;
}

.btn6 {
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 18px;
  background: var(--color1);
  transition: all 150ms linear;
  color: white;
}

.btn6:hover {
  transform: scale(1.030);
  transition: all 150ms linear;
  cursor: pointer;
  box-shadow: 0px 6px 0px var(--color2);
}

.btn6:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px var(--color2);
}

.btn7{
  font-size: 22px;
  color: white;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 50ms linear;
  background: var(--color3);
  display: inline-block;
  box-shadow: 0px 2px 0px var(--color5);
}

.btn7:hover{
  background: var(--color4);
  box-shadow: 0px 7px 0px var(--color5);
  transform: translateY(-4px);
}

.btn7:active{
  transform: translateY(0px);
  box-shadow: 0px 2px 0px var(--color5);
}
/* fin de dise単o de botones */

.input1 {
    border: none;
    padding: 10px 7px;
    border-radius: 8px;
    background: #e8e8e8;
    box-shadow: 0px 7px 20px var(--color5);
    transition: 0.3s ease;
    font-size: 20px;
    border: 4px solid transparent;
}

.input1:focus {
    outline-color: transparent;
    border-color: #628ef8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: 0.3s ease;
}

/* cards */
.item_proyecto {
    position: relative;
    border-radius: 10px;
    transition: all 250ms ease;
    height: 400px;
    overflow: hidden;

    /* encabezado */
    > div{
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      transform-style: preserve-3d;
      perspective: 1000;
      transition: all 350ms ease;
      backface-visibility: hidden;
    }

    > .front{
      display: flex;
      justify-content: start;
      align-items: end;
      position: relative;
      top: 0;

      > span{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 1;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.473) 0%, rgba(0,0,0,0) 100%);
        transition: all 350ms ease;
      }

      > img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }

      /* si detecta el contenedor para deslizar la imagen */
      &:has(> .contenedor-img){
        .contenedor-img{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          display: flex;
          overflow: hidden;

          > img{
            width: 100%;
            height: 100%;
            position: relative;
            flex-shrink: 0;
            object-fit: cover;
          }
        }
      }

      > h2{
        font-size: 40px;
        color: white;
        text-align: left;
        font-weight: bold;
        padding: 15px;
        position: relative;
        z-index: 2;
        transition: all 300ms ease;
        width: max-content;
      }
    }

    > .back{
      height: 300px;
      bottom: -100%;
      filter: blur(5px);
      opacity: 0;
      pointer-events: none;
      overflow-y: scroll;
      transition: all 300ms ease;
      padding: 15px;

      > p{
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
      }

      > .lenguajes{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;

        > img{
          width: 50px;
          aspect-ratio: 1/1;
          object-fit: cover;
          padding: 5px;
          border: 1px solid white;
          border-radius: 5px;
        }
      }

      button{
        font-size: 20px;
        > a{
          text-decoration: none;
          color: white;
        }
      }

      /* detectar si hay botones de scroll para establecer los estilos */
      &:has(> .contendor-controles){
        > .contendor-controles{
          width: 100%;
          height: auto;
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    } 

    > .back::-webkit-scrollbar{
      width: 7px;
      background: transparent;
    }

    > .back::-webkit-scrollbar-thumb{
      border-radius: 7px;
      background: var(--color5);
    }
}

.item_proyecto:hover {
    transform: scale(1.020) translateY(-10px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.514);

    > .front{
      > h2{
        transform: translateY(-280px);
      }
      
      > span{
        height: 100%;
        background: rgba(0, 0, 0, 0.521);
      }
    }

    > .back{
      bottom: 0;
      opacity: 1;
      filter: blur(0px);
      pointer-events: inherit;
    }
}

/* animaciones */
.tab_animacion1 {
    transform: translateY(20px);
    opacity: 0;
    transition: all 300ms ease;
}

.tab_animacion2 {
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms ease;
}

.scale{
    transform: scale(0);
    transition: all 500ms ease;
}

.tama単o1{
    height: 0px;
    transition: all 400ms ease;
    opacity: 0;
}

.tama単o2{
    height: 170px;
    transition: all 400ms ease;
    opacity: 1;
}


/* clases para funcionalidades */
.none {
    display: none;
}

.foco{
    max-width: 0!important;
    height: 0!important;
    border-color: transparent!important;
}

@media screen and (max-width: 616px) {
    
.header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    > .logo{
        text-align: center;
    }

    >img {
        width: 80px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    >nav {
        >ul {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}
}