.proyecto {
    position: relative;
    border: 5px solid var(--color5);

    >h3 {
        font-size: 40px;
        color: white;
        padding: 0px 30px;
        position: relative;
        margin-top: 30px;
        max-width: 1300px;
        margin: 10px auto;
        display: block;
    }
}

.vista_publicacion_proyecto {
    position: fixed;
    width: 80%;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 16;
    transition: all 500ms ease;
    display: grid;
    animation: 700ms vistaFrente ease;
    border: 5px solid var(--color1);
    border-radius: 7px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../IMG/diseno-fondo-color.png);
        background-size: cover;
        background-repeat: no-repeat;
        transform-style: preserve-3d;
        transform: scale(1);
        border-radius: 10px;
        z-index: -1;
        border-radius: 20%;
        transition: all 500ms ease;
        top: 0;
        left: 0;

        animation: 800ms vistaDetras ease;
    }

    >span {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        padding: 7px 13px;
        z-index: 3;
    }

    >.item_publicacion {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        /* slider */
        >.slider {
            display: flex;
            align-items: center;
            height: 100%;
            position: relative;
            background: rgb(37, 37, 37);
            width: 100%;
            overflow: hidden;

            >.container_img_slider {
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                position: relative;
                display: block;
                transition: all 700ms cubic-bezier(.11, 0, .58, 1.6);

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    position: relative;
                }
            }
        }

        .contenedor_slider {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            >i {
                font-size: 50px;
                z-index: 2;
                color: white;
                text-shadow: 0px 0px 5px rgb(0, 0, 0);
                transition: all 50ms linear;
            }

            >i:hover {
                transform: scale(1.1);
                text-shadow: 0px 0px 10px rgba(0, 0, 0);
                cursor: pointer;
            }

            >i:active {
                transform: scale(0.95);
                text-shadow: 0px 0px 0px rgb(158, 155, 155),
                    0px 0px 20px black !important;
            }
        }
    }
}

body:has(> .inactivo_vista_publicacion_proyecto) {
    .vista_publicacion_proyecto {
        animation: 1s hola ease;

        &::before {
            animation: 800ms hola2 ease;
        }
    }
}

.inactivo_vista_publicacion_proyecto {
    pointer-events: none;
    opacity: 0;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) scale(0) !important;
    animation: 0ms hola ease;
    transition: all 500ms ease;
}

.proyecto>.banner {
    width: 100%;
    min-height: 50vh;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    >img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    >h2 {
        font-size: clamp(1.5rem, 6vw, 10rem);
        text-align: center;
        color: white;
        z-index: 2;
        text-shadow: 1px 2px 1px rgb(66, 64, 64),
            1px 4px 1px rgb(66, 64, 64),
            1px 6px 1px rgb(66, 64, 64),
            1px 8px 1px rgb(66, 64, 64),
            1px 10px 1px rgb(66, 64, 64);
    }
}

.proyecto>.subcontenedorall {
    height: auto;
    position: relative;
    width: 100%;

    /* Confetti diseño */
    >.fondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        filter: blur(5px);
        z-index: -5;
    }

    .fondo>span {
        width: 10px;
        height: 30px;
        position: absolute;
        top: -10%;
        left: calc(100% * var(--pos-x));
        animation: confetti-fall var(--duration) linear infinite;
        background-color: var(--color);
        border-radius: 2px;
        opacity: 0.8;
    }

    .titulo {
        padding: 0px 30px;
        max-width: 950px;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 10px;
        position: relative;

        >span {
            display: block;
            position: relative;
            height: 3px;
            background: var(--color7);
            width: 100%;
        }

        >h3 {
            font-size: 50px;
            color: white;
            display: block;
            text-align: center;
            border-radius: 7px;

            >span {
                display: block;
                position: relative;
                height: 3px;
                background: var(--color7);

            }

            >i {
                color: yellow;
            }
        }
    }

    .titulo2 {
        margin-top: 70px;
    }

    .destacado {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        max-width: 950px;
        margin: 0 auto;
        margin-top: 5px;
        gap: 20px;
        perspective: 1000px;

        >.item_proyecto {
            flex-grow: 1;
            width: 250px;
            max-width: 400px;
            transition: all 150ms ease;
            border: 5px solid var(--color1);
        }
    }

    .all_proyects {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px;
        max-width: 950px;
        margin: 0 auto;
        margin-top: 10px;
        gap: 20px;
        perspective: 1000px;
        display: flex;
        flex-wrap: wrap;

        >.item_proyecto {
            flex-grow: 1;
            width: 250px;
            max-width: 400px;
            border: 5px solid var(--color3);
            transition: all 150ms ease;
        }
    }
}

/* adaptador */

/* cards */
@media screen and (max-width: 947px) {
    .proyecto>.destacado {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .proyecto>.all_proyects {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
}

@media screen and (max-width: 591px) {
    .proyecto>.destacado {
        grid-template-columns: 1fr;
    }

    .proyecto>.all_proyects {
        grid-template-columns: 1fr;
    }

    .proyecto>.banner {
        >h2 {
            font-size: 70px;
        }
    }
}

/* buscador */
@media screen and (max-width: 708px) {
    .proyecto>.titulo {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        >h3 {
            text-align: center;
        }
    }
}