.proyecto{
    position: relative;

    > h3{
        font-size: 40px;
        color: white;
        padding: 0px 30px;
        position: relative;
        margin-top: 30px;
        max-width: 1300px;
        margin: 10px auto;
        display: block;
    }
}

.proyecto > .vista_publicacion{
    position: fixed;
    width: 80%;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: var(--color3);
    z-index: 10;
    border-radius: 10px;
    transition: all 500ms ease;
    display: grid;
    overflow-y: scroll;
    scrollbar-width: none;
    max-width: 1000px;
    max-height: 1000px;

    > span{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        padding: 7px 13px;
    }

    > .item_publicacion{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 7px;
        padding: 8px;
        display: grid;

        .contenedor_slider{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            /* slider */
            > .slider{
                width: 300%;
                display: grid;
                grid-template-columns: repeat(3, minmax(auto , 1fr));
                grid-row: 1fr;
                height: 100%;
                position: relative;
                transition: all 700ms cubic-bezier(.11,0,.58,1.6);
                background: rgb(37, 37, 37);

                > img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    position: relative;
                }
            }

            > i{
                font-size: 50px;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                z-index: 2;
                color: white;
                text-shadow: 0px 0px 5px rgb(0, 0, 0);
                transition: all 50ms linear;
            }

            > i:hover{
                transform: scale(1.1) translateY(-50%);
                text-shadow: 0px 0px 10px rgba(0, 0, 0);
                cursor: pointer;
            }

            > i:nth-child(3){
                left: inherit;
                right: 20px;
            }

            > i:active{
                transform: scale(0.95) translateY(-50%);
                text-shadow: 0px 0px 0px rgb(158, 155, 155),
                0px 0px 20px black!important;
            }
        }
    }
}

.inactivo_vista_publicacion{
    pointer-events: none;
    filter: blur(10px);
    opacity: 0;
    top: -100%!important;
}


.proyecto > .titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 30px;
    gap: 40px;
    position: relative;

    > h3{
        font-size: 40px;
        color: white;
        position: relative;
        display: block;

        > i{
            color: yellow;
        }
    }

    .buscador {
        display: flex;
        align-items: center;
        position: relative;
        flex-grow: 1;
        border: 3px solid var(--color3);
        border-radius: 7px;
        overflow: hidden;
        transition: all 100ms linear;
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.164);

        > input{
            font-size: 20px;
            padding: 9px;
            width: 100%;
            display: block;
            background: transparent;
            outline: none;
            color: white;
            border: none;
        }

        > .img{
            background: var(--color3);
            padding: 5px 7px;

            > img{
                width: 30px;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }

        &:has(> input:focus){
            border: 4px solid var(--color2);
           box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.164);
        }
    }
}

.proyecto > .titulo2{
    margin-top: 70px;
}

.proyecto > .banner{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    > h2{
        font-size: 100px;
        text-align: center;
        color: white;
        z-index: 2;
        text-shadow: 1px 2px 1px rgb(66, 64, 64),
                    1px 4px 1px rgb(66, 64, 64),
                    1px 6px 1px rgb(66, 64, 64),
                    1px 8px 1px rgb(66, 64, 64),
                    1px 10px 1px rgb(66, 64, 64);
    }
}

.proyecto > .destacado{
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 5px;
    gap: 20px;

    > .item_proyecto{
        flex-grow: 1;
        width: 250px;
        max-width: 400px;
        transition: all 150ms ease;
        border: 5px solid var(--color1);
    }
}

.proyecto > .all_proyects{
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 10px;
    gap: 20px;

    display: flex;
    flex-wrap: wrap;

    > .item_proyecto{
        flex-grow: 1;
        width: 250px;
        max-width: 400px;
        border: 5px solid var(--color3);
        transition: all 150ms ease;
    }
}

/* adaptador */

/* cards */
@media screen and (max-width: 947px) {
    .proyecto > .destacado{
        grid-template-columns: repeat(2, minmax(auto , 1fr));
    }
    
    .proyecto > .all_proyects{
        grid-template-columns: repeat(2, minmax(auto , 1fr));
    }
}

@media screen and (max-width: 591px) {
    .proyecto > .destacado{
        grid-template-columns: 1fr;
    }
    
    .proyecto > .all_proyects{
        grid-template-columns: 1fr;
    }

    .proyecto > .banner{
        > h2{
            font-size: 70px;
        }
    }
}

/* buscador */
@media screen and (max-width: 708px) {
    .proyecto > .titulo{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    
        > h3{
            text-align: center;
        }
    }
}
