/* --------------- estilos de sobre mi ----------------------------- */

@keyframes ani1_img {
    0%{background-position: top left;}
    10%{background-position: top left;}

    30%{background-position: bottom right;}
    40%{background-position: bottom right;}

    60%{background-position: bottom left;}
    70%{background-position: bottom left;}

    90%{background-position: top right;}
    100%{background-position: top right;}
}


.sobre_mi{
    position: relative;
}

/* banner */
.sobre_mi>.banner {
    width: 100%;
    padding: 70px 20px;
    position: relative;
    height: auto;
    background: var(--color3) url(../IMG/fondo_sobre_mi1.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    animation: 10s ani1_img ease infinite alternate;

    > span{
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.2;
        z-index: 1;
    }

    > .contenedor_info_banner{
        width: 100%;
        position: relative;
        height: auto;
        justify-items: center;
        display: flex;
        align-items:center;
        justify-content: center;
        gap: 50px;
        z-index: 2;

        > .contenedor_logo{
            position: relative;
            height: auto;
    
            > img{
                width: 250px;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 100%;
                border: 4px solid var(--color2);
            }
        }
    
        .info_bannner{
            height: max-content;
            color: white;
            font-size: 30px;
            text-align: center;
        }
    }

    > .controles{
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        padding: 5px 25px;
        width: 100%;
        max-width: 900px;
        margin: 0px auto;
        margin-top: 20px;
        z-index: 2;
    
        > p{
            font-size: 25px;
            background: #ffffff7e;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);
        }

        .active{
            background: var(--color4);
            color: white;
        }
    }
}


/* -- Condiciones de movimiento sobre mi -- */
/* -- logro */
.sobre_mi:has(> .banner .controles #btn_move_areas_l:checked){
    > .contenedor_areas{
        > .historia{
            background: red!important;
        }
    }
}
/* -- historia */

/* -- tecnologia */

/* -- contacto */

/* contenedor vista de publicaciones */
.sobre_mi > .vista_publicacion{
    position: fixed;
    width: 80%;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: var(--color3);
    z-index: 10;
    border-radius: 10px;
    transition: all 500ms ease;
    display: grid;
    overflow-y: scroll;
    scrollbar-width: none;
    max-width: 1000px;
    max-height: 1000px;

    > span{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        padding: 7px 13px;
    }

    > .item_publicacion{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 7px;
        padding: 8px;
        display: grid;

        .contenedor_slider{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            /* slider */
            > .slider{
                width: 300%;
                display: grid;
                grid-template-columns: repeat(3, minmax(auto , 1fr));
                grid-row: 1fr;
                height: 100%;
                position: relative;
                transition: all 700ms cubic-bezier(.11,0,.58,1.6);

                > img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                }
            }

            > i{
                font-size: 50px;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                z-index: 2;
                color: white;
                text-shadow: 0px 0px 5px rgb(0, 0, 0);
                transition: all 50ms linear;
            }

            > i:hover{
                transform: scale(1.1) translateY(-50%);
                text-shadow: 0px 0px 10px rgba(0, 0, 0);
                cursor: pointer;
            }

            > i:nth-child(3){
                left: inherit;
                right: 20px;
            }

            > i:active{
                transform: scale(0.95) translateY(-50%);
                text-shadow: 0px 0px 0px rgb(158, 155, 155),
                0px 0px 20px black!important;
            }
        }
    }
}

.inactivo_vista_publicacion{
    pointer-events: none;
    filter: blur(10px);
    opacity: 0;
    top: -100%!important;
}
/* fin contenedor vista de publicaciones */

/* vista-logro */
.sobre_mi > .vista-logro{
    position: fixed;
    width: 80%;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgb(39, 38, 38);
    z-index: 10;
    border-radius: 10px;
    transition: all 400ms ease;
    display: grid;
    overflow: hidden;
    max-width: 1000px;
    max-height: 1000px;
    border: 4px solid var(--color1);

    > img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

    > span{
        z-index: 2;
        width: max-content;
        height: max-content;
        font-size: 20px;
        padding: 7px 12px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}   

.sobre_mi > .inactivo-vista-logro{
    pointer-events: none;
    filter: blur(10px);
    opacity: 0;
    top: -100%!important;
}
/* fin vista-logro */
.sobre_mi> .contenedor_areas{
    width: 100%;
    z-index: 2;
    height: auto;
    position: relative;
    display: flex;
    overflow: hidden;
    transition: all 300ms ease;
    max-width: 700px;
    margin: 0 auto;
    margin-top: -50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--color4);

    > article{
        width: 100%;
        flex-shrink: 0;
        position: relative;
        padding: 20px;
        height: max-content;
        transition: all 300ms ease;
    }

    /* historia */
    > .historia{
        > .info{
            width: 100%;
            height: auto;
            position: relative;
            color: white;

            > h4{
                font-size: 30px;
                color: var(--color6);
            }

            > h2{
                font-size: 30px;
            }

            > h3{
                font-size: 35px;
                margin-bottom: 5px;
            }
            
            > p{
                font-size: 24px;
            }
        }

        /* Publicacion */
        > .publicacion{
            width: 100%;
            height: auto;
            position: relative;
            margin-top: 40px;
            z-index: 2;
            backdrop-filter: blur(10px);

            > h2{
                padding: 0;
                margin-bottom: 5px;
                font-size: 35px;
                color: var(--color6);
            }

            > hr{
                background: var(--color6);
                width: 100%;
                height: 2px;
                border-radius: 5px;
                margin-bottom: 60px;
            }

            /* Diseño cards de publicacion */ 
            > .item_publicacion{
                width: 100%;
                height: auto;
                position: relative;
                border-radius: 7px;
                background: rgb(255, 255, 255,0.1);
                padding: 20px;
                transform: translateY(-40px);
                margin-bottom: 30px;

                /* encabezado */
                > .encabezado{
                    width: 100%;
                    height: auto;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    > .contenedor_info{
                        height: auto;
                        width: max-content;
                        position: relative;
                        display: flex;
                        align-items: top;
                        gap: 10px;

                        > img{
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                        }

                        > .info{
                            color: white;
                            font-size: 20px;
                        }
                    }

                    > .controles{
                        > img{
                            width: 35px;
                            height: 35px;
                            object-fit: cover;
                            transition: all 100ms linear;
                        }

                        > img:hover{
                            transform: scale(1.2);
                            padding: 5px;
                            background: rgb(255, 255, 255,0.1);
                            transition: all 100ms linear;
                            cursor: pointer;
                            border-radius: 7px;
                        }

                        > img:active{
                            transform: scale(0.95);
                        }
                    }
                }

                /* detalles */
                > .detalle{
                    width: 100%;
                    height: auto;
                    position: relative;

                    > p{
                        font-size: 22px;
                        color: white;
                        margin-bottom: 15px;
                    }

                    > video{
                        width: 100%;
                        border-radius: 7px;
                        position: relative;
                        height: 350px;
                    }

                    > .slider_img{
                        width: 100%;
                        height: 350px;
                        overflow: hidden;
                        border-radius: 7px;
                        display: flex;
                        position: relative;

                        > img{
                            width: 100%;    
                            height: 100%;  
                            flex-shrink: 0;                   
                            position: relative;  
                            object-fit: cover;
                        }
                    }
                    
                }

                > button{
                    margin-top: 10px;
                    border-radius: 7px;
                    background: var(--color7);

                    > a{
                        display: block;
                        text-decoration: none;
                        color: white;
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        justify-content: center;
                    }
                }
            }
        }

        /* Confetti diseño */
        .fondo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -5;
        }
        
        .fondo > span {
            width: 10px;
            height: 30px;
            position: absolute;
            top: -10%;
            left: calc(100% * var(--pos-x));
            animation: confetti-fall var(--duration) linear infinite;
            background-color: var(--color);
            border-radius: 2px;
            opacity: 0.8;
        }
    }

    /* logros */
    > .logros {
        > h3{
            padding: 10px;
            text-align: left;
            font-size: 40px;
            color: var(--color6);
            margin-bottom: 30px;
            border-bottom: 3px solid var(--color6);
        }
    }
    
    > .logros > .contenedor_logros>.sub_contenedor_logros {
        width: 100%;
        height: auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        grid-template-rows: repeat(3, auto);
        gap: 30px;
        margin: 0 auto;
        padding: 0;
    }
    
    > .logros > .contenedor_logros>.sub_contenedor_logros>.item_logro {
        border-radius: 10px;
        position: relative;
        transition: all 300ms ease;
        background: var(--color2);
        border: 5px solid var(--color3);
        display: grid;
        grid-template-rows: auto auto minmax(auto , 1fr);
        height: 350px;
        overflow: hidden;
        border-radius: 10px;
    
        > img{
            position: relative;
            width: 100%;
            height: 350px;
            object-fit: cover;
            transition: all 300ms ease;
        }

        > .maximizar-img{
            position: absolute;
            top: 7px;
            right: 7px;
            padding: 5px;
            font-size: 35px;
            color: white;
            z-index: 2;
            background: transparent;
            border: none;
            text-shadow: 0px 0px 10px black;
            transition: all 70ms linear;
            transform: translateY(-100%);
        }
    
        > .info{
            position: absolute;
            left: 0;
            z-index: 3;
            padding: 20px;
            text-align: center;
            width: 100%;
            height: max-content;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            color: white;
            background: var(--color5);
            bottom: -100%;
            transition: all 300ms ease;
    
            > h3{
                font-size: 30px;
            }
    
            > p{
                font-size: 18px;
            }
        }
        
    }
    
    > .logros > .contenedor_logros>.sub_contenedor_logros>.item_logro:hover {
        transform: scale(1) translateY(-20px);
        box-shadow: 4px 10px 2px var(--color2),
                    8px 20px 2px var(--color4),
                    12px 30px 2px var(--color5);
        transition: all 300ms ease;
    
        > .info{
            transition: all 300ms ease;
            bottom: 0;
            height: max-content;
            max-height: 200px;
            overflow-y: scroll;
            scrollbar-width: none;
        }

        > .maximizar-img{
            transform: translateY(0%);

            &:hover{
                transform: scale(1.1) translateY(0%);
                cursor: pointer;
            }

            &:active{
                transform: scale(0.95) translateY(0%); 
            }
        }
    }
    /* fin logro */

    /* tecnologias */
    >.tecnologias {
        position: relative;

        > p{
            color: white;
            font-size: 25px;
            margin-bottom: 20px;
        }

        > .contenedor_lenguajes{
            width: 100%;
            height: auto;
            position: relative;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 11px;

            > .item_l{
                text-align: center;
                height: auto;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                padding: 2px;

                > span{
                    width: 150px;
                    aspect-ratio: 1/1;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    background: var(--color6);
                    filter: blur(100px);
                    animation: moveSpan 6s infinite alternate ease-in-out;
                    opacity: 0.8;
                }

                > .subcontenedor_info{
                    padding: 10px;
                    border-radius: 10px;
                    background: rgba(255, 255, 255, 0.034);
                    height: 100%;
                    z-index: 2;
                    border: 2px solid var(--color3);
                    
                    > h2{
                        font-size: 30px;
                        color: var(--color6);
                        margin-bottom: 15px;
                    }

                    > .contenedor_items{
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 20px;

                        > .item_lenguaje{
                            position: relative;
                            width: 56px;
                            aspect-ratio: 1/1;
                            overflow: hidden;

                            > img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        > .item_lenguaje:nth-child(3){
                            border-radius: 5px;
                        }
                    }
                }
            }

            .herramientas {
                grid-column: span 2;

                > .subcontenedor_info{
                    > .contenedor_items{
                        > .item_lenguaje:nth-child(3){
                            width: 100px;
                            height: 56px;

                            > img{
                                object-fit: contain;
                            }
                        }

                        > .item_lenguaje:nth-child(4){
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes moveSpan {
    0% {
        top: 0;
        right: 0;
    }
    25% {
        top: 0;
        right: 100%;
        transform: translate(100%, 0);
    }
    50% {
        top: 100%;
        right: 0;
        transform: translate(0, -100%);
    }
    75% {
        top: 100%;
        right: 100%;
        transform: translate(100%, -100%);
    }
    100% {
        top: 0;
        right: 0;
    }
}

/* Animación para caída -- confetti */
@keyframes confetti-fall {
    0% {
        top: 0;
    }
    100% {
        top: 110%;
    }
}

/* estilos para el formulario de contacto de sobre mi */

.contacto > h2{
    font-size: 50px;
    color: var(--color6);
    text-align: center;
    margin-bottom: 10px;
}

/* formulario */
.contacto > .form{
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
      "t1 t2"
      "t3 t3"
      "t4 t4"
      "t5 t5";  
    position: relative;
    margin: 0 auto;
    background: var(--color_tema1);
    margin-top: 0px;
    gap: 20px;

    
    > .button-container{
        > input{
            font-size: 25px;
            transition: 100ms linear;
        }
    }
  }
  
  .t1{
    grid-area: t1;
  }
  .t2{
    grid-area: t2;
  }
  .t3{
    grid-area: t3;
  }
  .t4{
    grid-area: t4;
  }
  .t5{
    grid-area: t5;
  }

  /* --------------- estilos de sobre mi ----------------------------- */

@keyframes ani1_img {
    0%{background-position: top left;}
    10%{background-position: top left;}

    30%{background-position: bottom right;}
    40%{background-position: bottom right;}

    60%{background-position: bottom left;}
    70%{background-position: bottom left;}

    90%{background-position: top right;}
    100%{background-position: top right;}
}

  
  

  @media screen and (max-width: 618px){
    .sobre_mi>.banner {
    
        > .contenedor_info_banner{
            width: 100%;
            position: relative;
            height: auto;
            justify-items: center;
            flex-direction: column;
            display: flex;
            align-items:center;
            justify-content: center;
            gap: 50px;
            z-index: 2;
    
            > .contenedor_logo{
                position: relative;
                height: auto;
        
                > img{
                    width: 250px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 4px solid var(--color2);
                }
            }
        
            .info_bannner{
                height: max-content;
                color: white;
                font-size: 30px;
                text-align: center;
            }
        }
    
        > .controles{
            height: auto;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
            padding: 5px 25px;
            width: 100%;
            max-width: 900px;
            margin: 0px auto;
            z-index: 2;
        
            > p{
                font-size: 25px;
                color: white;
                position: relative;
                cursor: pointer;
                padding: 10px;
                border-radius: 5px;
                transition: all 200ms ease;
            }
        
            > p:hover{
                background: var(--color4);
                transition: all 200ms ease;
                transform: scale(1.030);
            }
        
            > p:active{
                transform: scale(0.95);
            }
        
            > .active{
                background: var(--color4);
            }
        }
    }
    
    
  }

  @media screen and (max-width: 868px){
    .sobre_mi>.banner {
        display: grid;
        grid-template-areas: "img"
                   "parrafo";
        grid-template-columns: none;
        width: 100%;

        > figure {
            grid-area: img;
            margin: 0 auto;
            margin-bottom: 10px;

            > img{
                box-shadow: 0px 10px 3px rgb(255, 255, 255,0.5);
            }
        }
        
        > .info_banner{
            grid-area: parrafo;
            text-align: center;
        }
    }

    .contenedor_logros>.sub_contenedor_logros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        padding: 30px;
    }    

    .contacto > .form{
        width: 100%;
        max-width: 900px;
        padding: 20px;
        border-radius: 10px;
        display: grid;
        grid-template-areas: 
          "t1 t1"
          "t2 t2"
          "t3 t3"
          "t4 t4"
          "t5 t5";  
        position: relative;
        margin: 0 auto;
        margin-top: 20px;
        gap: 20px;
      }   
  }

  @media screen and (max-width: 508px){
    .sobre_mi>.lenguajes>h2::after {
       display: none;
    }
    
    .sobre_mi>.lenguajes>h2::before {
       display: none;
    }
  }

  
  @media screen and (max-width: 596px){
    .sobre_mi> .contenedor_areas{
        > .logros > .contenedor_logros>.sub_contenedor_logros {
            grid-template-columns: minmax(auto , 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 15px;
        }
    }
  }
  
  @media screen and (max-width: 512px){
    .sobre_mi>.banner {
        > .img_p{
            width: 80%;
            max-width: 250px;
            bottom: 0px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: all 300ms ease;
        }
    }
  }
  /* --------------- estilos de sobre mi ----------------------------- */

@keyframes ani1_img {
    0%{background-position: top left;}
    10%{background-position: top left;}

    30%{background-position: bottom right;}
    40%{background-position: bottom right;}

    60%{background-position: bottom left;}
    70%{background-position: bottom left;}

    90%{background-position: top right;}
    100%{background-position: top right;}
}